@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif !important;
}
.mainNavbar{
    padding: 0;
}
.menuToggler.btn {
    margin-right: 1rem;
    background-color: transparent !important;
    border: none;
    color: #323131 !important;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
    box-shadow: 0 0 0 !important;
    border-radius: 0 !important;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuToggler .bar {
    position: relative;
    display: inline-block;
    width: 2px;
    background-color: #000;
    height: 21px;
    margin-right: 0.75rem;
}
.menuToggler .bar::after, .menuToggler .bar::before {
    width: 2px;
    background-color: #000;
    content: "";
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.menuToggler .bar::after{
    right: -5px;
}
.menuToggler .bar::before{
    left: -5px;
}
.footer {
    padding: 2rem 3rem;
}
.topfooterWrap {
    border-top: 1px solid #eee;
    padding-top: 3rem;
    align-items: center;
}
.footerLogoWrap .logo {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 1;
}
.footerLogoWrap .logo .outlineText {
    -moz-text-fill-color: white;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.footerLogoWrap {
    align-items: flex-end;
}
.socialLinks.nav .nav-link {
    color: #5b5a5b;
}
.socialLinks.nav {
    margin-left: 2rem;
}
.creator {
    color: #757575;
    font-weight: 600;
    font-size: 0.8rem;
}
.creator a{
    margin-left: 0.5rem;
}
.bottomFooterLink {
    padding-top: 2rem;
}
.footerNav.nav .nav-link {
    color: #888;
    font-weight: 600;
    font-size: 0.9rem;
    padding-right: 4rem;
}
.footerNav.nav .nav-link[aria-current="page"] {
    -moz-text-fill-color: white;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: #888;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #888;
}
.cpyrights {
    font-weight: 600;
    font-size: 0.9rem;
    color: #888;
}
#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: #FFE600;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    -webkit-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    -moz-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    -ms-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    -o-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
}
.topBarWrap {
    background-color: #fff;
    padding: 1rem 1rem;
}
.closeMenu .closeBtn {
    position: relative;
    background-color: #929292;
    border-radius: 2px;
    width: 3px;
    height: 20px;
    margin-right: 1rem;
    transform: rotate(135deg);
}
.closeMenu .closeBtn::after {
    background-color: #929292;
    transform: rotate(90deg);
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    left: 0px;
    top: 0px;
}
#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
#flyoutMenu .menuContWrap {
    background-color: #000;
    width: 100%;
    height: calc(100vh - 56px);
}
.menuContent {
    width: 40%;
}
.menuItemsWrap {
    width: 60%;
    position: relative;
    display: flex;
}
.menuItemsWrap .menuBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
#mainMenu {
    position: relative;
    z-index: 2;
}