/********reset style*************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
hr {display:block;height:1px;border:0;   border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select {vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
h1, .h1 {font-size: 36px;}
h1{font-size: 36px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
.clear{
  clear:both;
}
img{
  max-width: 100%;
  height: auto;
}
a:hover ,
a:focus{
  outline: none;
  text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif !important;
}
.mainNavbar{
    padding: 0;
}
.menuToggler.btn {
    margin-right: 1rem;
    background-color: transparent !important;
    border: none;
    color: #323131 !important;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
    box-shadow: 0 0 0 !important;
    border-radius: 0 !important;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuToggler .bar {
    position: relative;
    display: inline-block;
    width: 2px;
    background-color: #000;
    height: 21px;
    margin-right: 0.75rem;
}
.menuToggler .bar::after, .menuToggler .bar::before {
    width: 2px;
    background-color: #000;
    content: "";
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.menuToggler .bar::after{
    right: -5px;
}
.menuToggler .bar::before{
    left: -5px;
}
.footer {
    padding: 2rem 3rem;
}
.topfooterWrap {
    border-top: 1px solid #eee;
    padding-top: 3rem;
    align-items: center;
}
.footerLogoWrap .logo {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 1;
}
.footerLogoWrap .logo .outlineText {
    -moz-text-fill-color: white;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.footerLogoWrap {
    align-items: flex-end;
}
.socialLinks.nav .nav-link {
    color: #5b5a5b;
}
.socialLinks.nav {
    margin-left: 2rem;
}
.creator {
    color: #757575;
    font-weight: 600;
    font-size: 0.8rem;
}
.creator a{
    margin-left: 0.5rem;
}
.bottomFooterLink {
    padding-top: 2rem;
}
.footerNav.nav .nav-link {
    color: #888;
    font-weight: 600;
    font-size: 0.9rem;
    padding-right: 4rem;
}
.footerNav.nav .nav-link[aria-current="page"] {
    -moz-text-fill-color: white;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: #888;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #888;
}
.cpyrights {
    font-weight: 600;
    font-size: 0.9rem;
    color: #888;
}
#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: #FFE600;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 10000;
    -webkit-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    -moz-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    -ms-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    -o-transition: transform 0.8s cubic-bezier(0, .52, 0, 1);
    transform: translate3d(-100vw, 0, 0);
}
.topBarWrap {
    background-color: #fff;
    padding: 1rem 1rem;
}
.closeMenu .closeBtn {
    position: relative;
    background-color: #929292;
    border-radius: 2px;
    width: 3px;
    height: 20px;
    margin-right: 1rem;
    transform: rotate(135deg);
}
.closeMenu .closeBtn::after {
    background-color: #929292;
    transform: rotate(90deg);
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    left: 0px;
    top: 0px;
}
#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
#flyoutMenu .menuContWrap {
    background-color: #000;
    width: 100%;
    height: calc(100vh - 56px);
}
.menuContent {
    width: 40%;
}
.menuItemsWrap {
    width: 60%;
    position: relative;
    display: flex;
}
.menuItemsWrap .menuBg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;
}
#mainMenu {
    position: relative;
    z-index: 2;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 4rem;
}
#mainMenu .nav-link {
    width: 50%;
    color: #444;
    font-weight: 900;
    font-size: 3rem;
    padding: 1rem 0;
}
#mainMenu .nav-link:hover , 
#mainMenu .nav-link.active{
    color: #fff;
}
#instaFeedWrap {
    padding: 4rem 2rem 7rem;
}
.instaContent {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2rem;
}
.instaFeed {
    width: 70%;
}
.instaImg {
    width: 30%;
}
.instaContent h2 {
    font-weight: 600;
    font-size: 4.8rem;
    display: flex;
    flex-direction: column;
    color: #000;
    line-height: 1;
}
.instaContent h2 span , 
.meetDariaCont h2 span {
    -moz-text-fill-color: white;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.instaContent h3 {
    font-weight: 600;
    font-size: 2.6rem;
    margin-top: 2rem;
    color: #000;
}
.instaContent h3 span {
    font-weight: 600;
    color: #777;
}
.instaImg:nth-child(2) {
    margin-top: -3rem;
}
#meetDariaWrap {
    padding: 5rem 0;
}
.meetDariaCont {
    width: 42%;
    padding-left: 9rem;
    line-height: 1.8;
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: auto;
    padding-bottom: 4rem;
}
.meetDariaImgAnim {
    width: 50%;
    min-height: 555px;
    position: relative;
    overflow: hidden;
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 9rem; */
}
.meetDariaCont h2 {
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 5rem;
}
.meetDariaImgAnim .meetBgEle {
    position: absolute;
    top: 0;
    width: 90px;
    height: 100%;
    border-radius: 8px;
}
#meetBg1 {
    left: 0;
    background-position: left center;
}
#meetBg2 {
    left: 12rem;
    background-position: 15% center;
}
#meetBg3 {
    right: 22rem;
    background-position: 50% center;
}
#meetBg4 {
    right: 10rem;
    background-position: 68% center;
}
#meetBg5 {
    right: -1.5rem;
    background-position: right center;
}
#mainVideoWrap {
    position: relative;
    overflow: hidden;
}
.imgOverlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    z-index: 1000;
}
#mainVideoWrap .imgOverlay::after {
    position: absolute;
    right: 0;
    content: "";
    width: 207px;
    height: calc(100% - 38vh);
    background-color: #fff;
    top: 0;
}
.menuOpen{
    overflow: hidden;
}
#blogSecWrap {
    padding: 0 3rem 5rem;
    overflow: hidden;
}
.blogSecCont .nav-item {
    color: #000;
    font-weight: 700;
    font-size: 5rem;
    position: relative;
}
.blogSecCont .odd.nav-item {
    padding: 0 2rem;
    -moz-text-fill-color: white;
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.blogSecCont .odd.nav-item .svg-inline--fa {
    font-size: 1rem;
}
.blogSecCont .odd.nav-item span {
    display: inline-block;
    padding: 0 2rem;
}
.blogSecCont {
    width: 55%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8;
    position: relative;
    z-index: 10;
    padding-top: 6rem;
}
.blogSecCont h2 {
    -moz-text-fill-color: transparent;
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 18rem;
    font-weight: 800;
    margin-top: -3rem;
    margin-bottom: -2rem;
}
.postsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: translateY(-1rem) translateX(-3rem) rotateZ(-6deg);
    gap: 20px;
    -webkit-transform: translateY(-1rem) translateX(-3rem) rotateZ(-6deg);
    -moz-transform: translateY(-1rem) translateX(-3rem) rotateZ(-6deg);
    -ms-transform: translateY(-1rem) translateX(-3rem) rotateZ(-6deg);
    -o-transform: translateY(-1rem) translateX(-3rem) rotateZ(-6deg);
}
.postsWrapper .blogPost:first-child {
    position: relative;
    grid-row: span 2;
    align-items: center;
}
.blogPostWrap {
    width: 45%;
}
.postsWrapper .blogPost {
    display: flex;
    justify-content: center;
}
.blogPost h3 {
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 0.75rem;
}
.blogPost .postImg {
    border: 1px solid #a5a5a5;
    padding: 0.5rem;
}
.blogSecCont p {
    display: inline-block;
    width: 80%;
}
#thingsSecWrap {
    position: relative;
    background-color: #000;
    overflow: hidden;
    min-height: 250px;
}
#thingsSecWrap .mainTitle {
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 70%;
    background-color: #fff;
    padding: 1rem 1rem;
    color: #000;
    font-weight: 700;
    font-size: 2.5rem;
    z-index: 10;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
#thingsSecWrap .bottomBar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 80px;
    width: 30%;
    background-color: #fff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
.thingsTaxContentWrap {
    width: 58%;
    position: relative;
}
.thingsDoContentWrap {
    width: 42%;
    padding-top: 5rem;
}
.thingsTaxContentWrap .imgOverlay {
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
}
.thingsTaxWrap {
    width: 52%;
    position: relative;
    z-index: 10;
    padding-bottom: 9rem;
    padding-left: 5rem;
    padding-top: 5rem;
}
.thingsTaxConWrap {
    width: 48%;
    position: relative;
    z-index: 10;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}
.thingsTaxWrap #termList .nav-link {
    color: #434242;
    font-weight: 800;
    font-size: 3rem;
    padding: 1rem 1rem;
    background-color: transparent;
}
.thingsTaxWrap #termList .nav-link:hover , 
.thingsTaxWrap #termList .nav-link.active{
    color: #ffffff;
}
.taxDescription {
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8;
}
.taxTitle {
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 8rem;
    -moz-text-fill-color: rgba(0,0,0,0.6);
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: #ffffff;
    -webkit-text-fill-color: rgba(0,0,0,0.6);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
}
.sc-bxivhb {
    position: absolute !important;
    opacity: 0.2;
}
#thingsContTabs {
    color: #fff;
}
.thingsItemWrap {
    width: 100%;
    padding: 0 4rem;
}
.thingItem {
    width: 100%;
    /* min-height: 468px; */
    margin-bottom: 2rem;
    background-color: #eee;
    position: relative;
}
.thingItem:empty {
    display: none;
}
.thingItem.youtubeItem button.openVideoBtn {
    width: 100%;
    border: none;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
}
.thingItem:last-child{
    margin-bottom: 0;
}
.thingItem .react-fancybox .thumbnail img{
    width: auto;
    max-width: 100%;
}
.thingItem .react-fancybox .box {
    z-index: 1000000000;
}