.seekVideoWrap {
    position: relative;
    width: 55%;
}
.videoSeekerWrap {
    position: absolute;
    z-index: 10;
    bottom: 12rem;
    left: 88%;
    width: 464px;
}
#seekingVideoWrap {
    padding: 4rem 0 6rem;
}
.seekVideoCont {
    width: 45%;
    padding-left: 4rem;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.25;
    color: #000000;
}
.seekVideoCont .even {
    -moz-text-fill-color: white;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}